/* CUSTOM PROPERTIES */
:root {
  --primario: #1073BA;
  --secundario: #00DA55;
  --gris: #3B3B3B;
  --blanco: #FFF;
  --negro: #1F1E1E;
  --grisClaro: #e1e1e1;

  --separacion: 5rem;

  --fuentePrincipal: 'Roboto', sans-serif;
  --fuenteSecundaria: 'Lato', sans-serif; 
}
/* CUSTOM PROPERTIES */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Codigos globales */
.contenedor {
  max-width: 120rem; /* Nunca se va a pasar de los 1.200px */
  width: 90%; /* Si es menos de 1.200px siempre va a ir tomando el 90% */
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  margin: calc(var(--separacion) / 2) 0;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
/* Codigos globales */

/* Utilidades */
.text-center {
  text-align: center;
}
/* Utilidades */

/* Degradados */
.degradado-verde {
  color: transparent;
  background: linear-gradient(to right, var(--primario) 0%, var(--secundario) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}


/* Header  */
.header {
  background-color: var(--negro);
  padding: calc(var(--separacion) * 1.2) 0;
  color: var(--blanco);
}

@media (min-width: 770px) { 
  .contenido-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto-header {
  text-align: center;
  padding-top: var(--separacion);
}

@media (min-width: 768px) { 
 .text-header{
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0;
 }
}

.texto-header p {
  margin: 0;
}

.tagline-producto {
  font-size: 3rem;
  font-weight: 900;
}

.nombre-producto {
  font-size: 6rem;
  margin: 0;
}

@media (min-width: 768px) { 
  .nombre-producto {
    font-size: 10rem;
    line-height: 1;
  }

  .precio-producto span {
    font-size: 6rem;
    font-weight: 900;
  }
}
.precio-producto {
  font-size: 2rem ;
}

.precio-producto span {
  font-size: 5rem;
  font-weight: 900;
}

/* ICONOS */
.iconos {
  padding: var(--separacion) 0; 
}

@media (min-width: 770px) { 
  .iconos {
   display: flex;
   gap: 2rem;
  }
}

.icono {
 text-align: center;
}

.icono img {
  width: 5rem;
  margin: 0 auto
}

.icono h3 {
  color: var(--primario);
  text-transform: uppercase;
  margin-top: calc(var(--separacion) / 2);
}

/* Sobre las techPRO */
.sobre-tech {
  background-image: linear-gradient(to bottom, transparent 50%, var(--primario) 0%) , url(../img/imagen-mujer.jpg);
  background-position: right top;
  background-repeat: repeat, no-repeat;
  background-size: 100%, 110rem;
}



@media (min-width: 768px) { 
  .sobre-tech {
    background-image: linear-gradient(to left, transparent 50%, var(--primario) 0%), url(../img/imagen-mujer.jpg);
    background-repeat: repeat, no-repeat;
  }
}

.sobre-tech-grid {
  display: grid;
  grid-template-rows: repeat(2, 40rem);
  row-gap: var(--separacion);
}

@media (min-width: 768px) { 
  .sobre-tech-grid {
    grid-template-rows: unset;
    row-gap: unset;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    padding: calc(var(--separacion)  * 2) 0;
  }
}

.texto-sobre-tech{
  grid-row: 2 / 3;
  color: var(--blanco);
  padding-bottom: var(--separacion);
}

@media (min-width: 768px) { 
 .texto-sobre-tech{
  padding-bottom: 0;
 }
}

.texto-sobre-tech p {
  font-size: 2rem;
  line-height: 1.5;
}

.texto-sobre-tech h2 {
  font-size: 3.5rem;
}

/* modelos */

.modelos {
  padding: var(--separacion) * 10;
}

.header-modelos {
  font-size: 5.3rem;
  margin-bottom: var(--separacion)
}

.listado-modelos {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 992px) { 
  .listado-modelos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20rem);
    gap: 4rem;
  }
}

.modelo {
  background-color: var(--grisClaro);
  margin-bottom: 2rem;
  padding-left: 4rem;
  color: var(--primario);
  border-radius: 2rem;
  min-height: 20rem;
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: transform ;
  transition-duration: .3s;
}

.modelo:hover {
  transform: scale(1.1);
}

@media (min-width: 992px) { 
  .modelo{
    margin-bottom: 0;
  }
}

.modelo h3 {
  font-size: 2.4rem;
}

.modelo .precio {
  font-size: 4rem;
  font-weight: 900;
  line-height: 0;
}

.modelo:first-of-type {
  margin-bottom: 0;
}

.modelo-x {
  background-image: url(../img/modelo-x.svg);
}

.modelo-y {
  background-image: url(../img/modelo-y.svg);
}

.modelo-z {
  background-image: url(../img/modelo-z.svg);
  background-color: var(--primario);
  color: var(--blanco);
  
}

@media (min-width: 992px) { 
  .modelo-z {
    grid-column: 2 / 3;
    grid-row: 1/ 3;
    background-size: 25rem;
  }

  .modelo-z h3 {
    font-size: 4rem;
    
  }
}

.modelo-z .precio {
  font-size: 5rem;
}


.newsletter {
  margin-top: 5rem ;
  background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%, 70rem;
}



.newsletter h2 {
  text-align: center;
}

@media (min-width: 768px) { 
  .newsletter {
    background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
    background-position:center, -15rem -10rem;
    background-size: 100%, 100rem;
    padding: 5rem 0;
  }

}

.contenido-newsletter {
  display: grid;
  grid-template-rows: repeat(2, 30rem);
  gap: var(--separacion);
}

@media (min-width: 768px) { 
  .contenido-newsletter {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto-newsletter {
  grid-row: 2 / 3;
}

@media (min-width: 768px) { 
  .texto-newsletter {
    grid-row: unset;
    grid-column: 2 / 3;
  }
}

.formulario input[type='text'] {
  width: 100%;
  padding: 1rem;
}

.formulario input[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: var(--primario);
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  border: none;
}
.footer p {
  text-align: center;
  margin-top: 13rem;
  text-transform: uppercase;
  font-family: var(--fuenteSecundaria);
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--negro);

}

@media (min-width: 768px) { 
  .footer p {
      margin-top: 3rem;
    }
}
